<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.BrandMapper">


    <select id="findByPage" resultType="com.atguigu.spzx.model.entity.product.Brand">
        select *
        from brand
        order by id desc
    </select>

    <insert id="save">
        insert into brand (
            name,
            logo
        ) values (
                     #{name},
                     #{logo}
                 )
    </insert>

    <update id="updateById" >
        update brand set
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="logo != null and logo != ''">
            logo = #{logo},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>

    <update id="deleteById">
        delete from brand where
            id = #{id}
    </update>

    <select id="findAll"  resultType="com.atguigu.spzx.model.entity.product.Brand">
        select  * from brand where is_deleted = 0
    </select>

    <select id="findByCategory3Id" resultType="com.atguigu.spzx.model.entity.product.Brand">
        SELECT b.* FROM `category_brand` a
                            INNER JOIN `brand` b ON a.brand_id = b.id
        WHERE a.category_id = #{category3Id}
    </select>
</mapper>