<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.CategoryBrandMapper">
    <sql id="whereCondition">
        <where>
            <if test="brandId!=null and brandId!=''">
                AND a.brand_id = #{brandId}
            </if>
            <if test="categoryId!=null and categoryId!=''">
                AND a.category_id = #{categoryId}
            </if>
        </where>
        order by id desc
    </sql>

    <select id="selectList" resultType="com.atguigu.spzx.model.entity.product.CategoryBrand">


        SELECT a.*,b.name as 'brandName',b.logo,c.name as 'categoryName' FROM `category_brand` a
        INNER JOIN `brand` b ON b.id = a.brand_id
        INNER JOIN `category` c ON a.category_id = c.id
        <include refid="whereCondition"></include>

    </select>

    <select id="selectByCategoryIdAndBrandId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `category_brand` WHERE brand_id = #{brandId} AND category_id = #{categoryId}

    </select>

    <insert id="addCategoryBrand">
        INSERT INTO `category_brand` (brand_id , category_id ) VALUE( #{brandId} ,#{categoryId});

    </insert>

    <update id="updateById" >
        update category_brand set
        <if test="brandId != null and brandId != ''">
            brand_id = #{brandId},
        </if>
        <if test="categoryId != null and categoryId != ''">
            category_id = #{categoryId},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>

    <update id="deleteById">
        delete from category_brand where
            id = #{id}
    </update>
</mapper>