<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.ProductSpecMapper">


    <select id="findByPage" resultType="com.atguigu.spzx.model.entity.product.ProductSpec">
        select *
        from product_spec
        where is_deleted = 0
        order by id desc
    </select>

    <insert id="save">
        insert into product_spec (
            spec_name,
            spec_value
        ) values (
                     #{specName},
                     #{specValue}
                 )
    </insert>

    <update id="updateById" >
        update product_spec set
        <if test="specName != null and specName != ''">
            spec_name = #{specName},
        </if>
        <if test="specValue != null and specValue != ''">
            spec_value = #{specValue}
        </if>
        where
        id = #{id}
    </update>

    <select id="findAll" resultType="com.atguigu.spzx.model.entity.product.ProductSpec">
        SELECT * FROM `product_spec` WHERE is_deleted = 0
    </select>
    <update id="deleteById">
        update product_spec set
                                update_time = now() ,
                                is_deleted = 1
        where
            id = #{id}
    </update>
</mapper>