<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysMenuMapper">

    <select id="findByParentId" resultType="com.atguigu.spzx.model.entity.system.SysMenu">
        select * from sys_menu where parent_id = #{parentId} and is_deleted = 0
        order by sort_value
    </select>

    <insert id="addMenu">
        insert into sys_menu (parent_id,title,component,sort_value,status)
            value (#{parentId},#{title},#{component},#{sortValue},#{status})
    </insert>

    <update id="deleteByMenuId">
        update sys_menu set is_deleted = 1 where id = #{menuId}
    </update>

    <update id="updateMenu">
        update sys_menu set title=#{title},component=#{component}, sort_value=#{sortValue},status=#{status}
        where id=#{id}
    </update>

    <delete id="deleteByRoleId">
        DELETE FROM `sys_role_menu`   WHERE role_id = #{roleId}
    </delete>

    <insert id="doAssignRoleMenu">
        INSERT INTO `sys_role_menu`(role_id,menu_id,is_half) VALUE(#{roleId},#{menuId},#{isHalf})
    </insert>
</mapper>