<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysUserMapper">

    <select id="findAll" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select * from sys_user where is_deleted=0
    </select>
    <select id="findByUsername" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select * from sys_user where username = #{userName} and is_deleted = 0
    </select>

    <sql id="whereCondition">
        <where>
            is_deleted = 0
                <if test="keyword!=null and keyword!=''">
                    and (username like concat('%',#{keyword},'%') or name like concat('%',#{keyword},'%') or phone like concat('%',#{keyword},'%'))
                </if>
                <if test="createTimeBegin!=null and createTimeBegin!=''">
                    and create_time >= #{createTimeBegin}
                </if>
            <if test="createTimeEnd!=null and createTimeEnd!=''">
                and create_time &lt;= #{createTimeEnd}
            </if>
        </where>
    </sql>
    <select id="findByPage" resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select * from sys_user
        <include refid="whereCondition"/>
        order by id desc
    </select>

    <insert id="addUser">
        insert into sys_user (username,password,name,phone,avatar,description)
            values (#{userName},#{password},#{name},#{phone},#{avatar},#{description})
    </insert>

    <update id="editUser">
        UPDATE `sys_user` SET username = #{userName},password=#{password},name=#{name},phone=#{phone},avatar=#{avatar},description=#{description}
        WHERE id = #{id}
    </update>

    <select id="findById"  resultType="com.atguigu.spzx.model.entity.system.SysUser">
        select * from sys_user where id = #{id} and is_deleted = 0
    </select>

    <update id="deleteById">
        update sys_user set is_deleted = 1 where id = #{id}
    </update>
</mapper>